* {
    margin: 0;
    padding: 0;
}


#barra {
    background-color: #20B2AA;
    height: auto;
    width: auto;
}

#texto-barra {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    width: 80%;
    height: 40%;
    padding: 7%;
    color: white;
    text-align: justify;
}

#barra img{
    width: 450px;
    margin-left: 100px;
}

#titulo-calculadora {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    width: 18%;
    margin-left: 70%;
    color: #107d78;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}

button{
    margin-top: 25%;
    padding: 7px;
    font-family: 'Poppins', sans-serif;
    background-color: #20B2AA;
    border-color: #20B2AA;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border-width: 2px;
    border-radius: 8px;
}

#calculadora {
    margin-top: 5%;
    color: #107d78;
    display: flex;
    font-family: 'Poppins', sans-serif;
    width: auto;
    margin-bottom: 5%;
    text-align: center;
    
}

#dados {
    margin-top: 10%;
    text-align: left;
    text-align: center;
}

#calculo {
    margin: 0 auto;
    text-align: center;
}

#calculo h2 {
    margin-bottom: 5%;
}

#resultado {
    margin: 0 auto;
}

#resultado img {
    margin-bottom: 25%;
}

#boneco {
    width: 150px;
}

input {
    outline-color: #20B2AA;
    caret-color: #107d78;
    padding: 1%;
    margin: 10px;
}
